*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
	color: #2a2c36;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #3F3035;
	outline: none;
	transition: color 0.2s;
}

a:hover,
a:focus {
	color: #993333;
	outline: none;
}

.encabezado-aliados {
	position: absolute;
    top: 0em;
    right: 0em;
    left: 0em;
    background-color: #403136;
    height: 12vh;
    color: #fff;
    text-align: center;
    padding-top: 4vh;
    z-index: 11;
}

.boton-iniciar-chat{
    box-shadow: none;
    border-color: #BD8298;
    background-color: transparent;
    border-radius: 14px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 30px;
    padding-right: 30px;
    color: #BD8298;
    border-style: double;
}

.boton-iniciar-chat:hover,
.boton-iniciar-chat:focus {
    box-shadow: none;
    border-color: #BD8298;
    background-color: #BD8298;
    border-radius: 14px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    border-style: double;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Flexbox helper classes */
.flexy {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexy--stretch {
	align-items: stretch;
}

.flexy--center {
	justify-content: center;
}

.flexy--row {
	flex-direction: row;
	flex-wrap: wrap;
}

.flexy--padding {
	padding: 0 0 2em;
}

.tiny {
	font-size: 50%;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--caret {
	font-size: 2em;
	position: absolute;
	z-index: 100;
	bottom: 1em;
	left: 50%;
	transform: translateX(-50%);
}

/* Zero-element page loader */
.js .loading::before,
.js .loading::after {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.js .loading::before {
	content: '';
	background: #403136;
}

.js .loading::after {
	content: 'Cargando... \ATranquila, estamos aquí';
	line-height: 2;
	padding: 5em 0 0 0;
	text-align: center;
	white-space: pre;
	font-weight: lighter;
	color: #FCD1ED;
	background: url(../img/9meses-logo.png) no-repeat 50% calc(50% - 3em);
	background-size: 6em;
	animation: loaderAnim 1s alternate infinite;
}

@keyframes loaderAnim {
	to {
		opacity: 0.2;
	}
}

/* Intro header */
.intro {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding: 0 0 18vh 0;
	text-align: center;
	pointer-events: auto;
}

.intro__header {
	position: absolute;
	top: 2em;
	right: 2em;
	left: 2em;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: inline-flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	pointer-events: auto;
	background: #fbce41;
}

.codrops-links::after {
	content: '';
	position: absolute;
	top: 20%;
	left: 50%;
	width: 1px;
	height: 60%;
	opacity: 0.7;
	background: #5b5b63;
	transform: rotate(22.5deg);
}

.codrops-icon {
	display: inline-block;
	flex: none;
	margin: 0.25em;
	padding: 0.5em;
	color: #2a2c36;
}

.codrops-icon:hover,
.codrops-icon:focus {
	color: #fff;
}

/* GitHub link */
.link-github {
	z-index: 1000;
	display: inline-block;
	margin: 0 0 0 auto;
	padding: 0.75em;
	pointer-events: auto;
	color: #2a2c36;
	background: #fbce41;
}

.link-github:hover,
.link-github:focus {
	color: #fff;
}

/* Intro title and tagline */
.intro__title {
	font-size: 3.25em;
	font-weight: normal;
	font-weight: 900;
	line-height: 0.8;
	margin: 50px;
	width: 60%;
	text-transform: uppercase;
}

.intro__tagline {
	font-family: 'Arapey', serif;
	font-size: 1.2em;
	font-weight: normal;
	max-width: 430px;
	margin: 1vh 0 1.25em 0;
	padding: 0 1em;
	color: #38383c;
}

.interaction {
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	pointer-events: none;
	background: url(../img/9meses-logo.png) no-repeat center center;
	background-size: cover;
}

.interaction--light {
	background-image: url(../img/9meses-logo.png);
}

.interaction--corner {
	position: absolute;
	right: 0.5em;
	bottom: 1em;
}

/* Content */
.imagenServicio{
	height: 80px;
	width: 60px;
}
.imagenPersona{
	height: 80px;
	width: 80px;
	border-radius: 40px;
}

.content {
	position: relative;
	min-height: 95vh;
	padding: 0vh 0 0;
	background-color: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.content--highlight {
	padding: 0;
	background-color: #BD8298;

}

.content--nopadding {
	padding: 0;

}
.content--nopadding--apoyos {
	padding: 0;
	margin-top: 50px;
	margin-bottom: 50px;
}
.content--nopadding--servicios {
	padding: 0;
	margin-top: 50px;
	margin-bottom: 50px;
}

.content--boxes--apoyo {
	min-height: 20vh;
	color: #3F3035;
}

.content--boxes {
	min-height: 40vh;
}

.content__inner {
	position: relative;
	z-index: 10;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	pointer-events: none;
}

.content__inner--fheight {
	height: 60vh;
	margin-top: 100px;
}

.content__inner--half {
	flex: none;
	width: 25%;
	max-width: none;
	height: auto;
	padding: 5vh;
	font-size: 1.5vh;
}

.content__inner--half .content__title {
	font-size: 2.25em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.content__inner--half .content__subtitle {
	font-size: 1.75em;
}

.content__inner--half .link-more {
	color: rgba(189,130,152,1);
}

.content__inner--c1 {
	background: #fff;
}

.content__inner--c2 {
	background: #fff;
}

.content__inner--c3--apoyo {
	background: #fff;
    width: 100%;
    padding: 0vh;
    font-size: 10px;
}
.content__inner--c3--apoyo--apoyos {
	background: #fff;
    width: 16.5%;
    padding: 2vh;
    font-size: 8px;
}


.content__inner--c3 {
	background: #403136;
    width: 25%;
    padding: 0vh;
    font-size: 10px;
}

.content__title {
	font-size: 5em;
	font-weight: 900;
	line-height: 0.85;
	position: relative;
	z-index: 10;
	margin: 0;
	padding: 0 5vmax 0 5vmax;
	text-transform: uppercase;
	pointer-events: none;
}

.content__title--color {
	color: #f4ba45;
}

.content__title--light {
	color: #993333;
}

.content__title--center {
	text-align: center;
}

.content__title .icon {
	font-size: 0.45em;
	display: inline-block;
	margin: 0 0.25em;
	color: #5b5d69;
}

.content__subtitle {
	font-family: 'Arapey', serif;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0.5em 0 1em;
}

.content__subtitle--light {
	color: #fff;
}

.content--kalimba::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	pointer-events: none;
	background: linear-gradient(to bottom, #fff 20%, rgba(255,255,255,0));
}

.content--bg {
	background-position: 50% 50%;
	background-size: cover;
}

.content--cursor-dark {
	cursor: url(../img/cursors/cursor_dark.png) 16 16, url(../img/cursors/cursor_dark.cur), pointer;
}

.content--cursor-light {
	cursor: url(../img/cursors/cursor_light.png) 16 16, url(../img/cursors/cursor_light.cur), pointer;
}

.content--bg-mic {
	background-image:linear-gradient( rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(../img/embarazo-9meses.png);
}

.content--bg-violin {
	background-image: url(../img/violin.jpg);
}

.content--guitar {
	background: #dad4c3;
}

.content--guitar .content__title,
.content--guitar .link-more {
	color: #d06315;
}

.content--chime {
	background: #c3cfda;
}

.content--chime .content__title,
.content--chime .link-more,
.content--harp .link-more,
.content--xylophone .link-more,
.content--kalimba .link-more,
.content--xylophone .link-more,
.content--tiny .link-more {
	color: #4d61c5;
}

.content--harp {
	background: #fdecc3;
}

.content--timpani {
	background: #4d61c5;
}

.content--timpani .link-more {
	color: #2a2c36;
}

.content--xylophone {
	background: #d6da97;
}

.content--xylophone .content__title {
	color: #4d61c5;
}

.content--xylophone .content__subtitle {
	color: #d06315;
}

.content--tiny {
	background: #fbe8ab;
}

.content--tiny .content__title {
	color: #d06315;
}

.content--tiny .link-more {
	margin-bottom: 4em;
}

.content__highlight {
	font-family: 'Arapey', serif;
	font-size: 2em;
	font-weight: normal;
	position: relative;
	max-width: 75%;
	margin: 0;
	padding: 4vw;
	cursor: default;
	color: #FCD1ED;
}

.link-more {
	font-size: 1.25em;
	position: relative;
	padding: 1em 0 0.25em;
	cursor: pointer;
	pointer-events: auto;
	border-bottom: 2px solid;
	transition: border-color 0.2s;
}

.link-more:hover,
.link-more:focus {
	border-color: transparent;
}

.link-more--corner {
	position: absolute;
	right: 4vmax;
	bottom: 3vmax;
}

/* Related demos */
.content--related {
	text-align: center;
	font-weight: bold;
}

.content--related a {
	color: #4d61c5;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.6;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

#wavebg canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@media screen and (max-width: 50em) {
	.intro {
		padding: 10em 0 0;
	}
	.intro__title {
		font-size: 1.5em;
	}
	.intro__tagline,
	.content__subtitle {
		font-size: 1.25em;
	}
	.content__highlight {
		font-size: 1.5em;
		max-width: 100%;
		padding: 2em 3vw;
	}
	.content__inner--fheight {
		height: auto;
	}
	.content--highlight {
		min-height: 0;
		padding: 2em;
	}
	.content__title {
		font-size: 2em;
	}
	.content__inner {
		padding: 12vw 8vw;
	}
	.content__inner--half {
		font-size: 55%;
		width: 100%;
		padding: 3em 1em;
	}
		.interaction {
		display: flex;
		width: 50px;
		height: 50px;
	}
	.interaction--corner {
		position: relative;
		right: auto;
		bottom: auto;
		margin: 3em auto 0;
	}
	.content--related {
		padding: 3em 2em;
	}
	.content__inner:not(.content__inner--half) .link-more {
		font-size: 0.85em;
	}

	.content__inner--c3 {
		background: #403136;
	    width: 100%;
	    padding: 3vh;
	    font-size: 6px;
	}
	.content__inner--c3--apoyo {
	background: #fff;
    width: 100%;
    padding: 0vh;
    font-size: 10px;
	}
	.content__inner--c3--apoyo--apoyos {
		background: #fff;
	    width: 33.3%;
	    padding: 2vh;
	    font-size: 8px;
	}
	.content--nopadding--apoyos {
	padding: 0;
	margin-top: 100px;
	margin-bottom: 50px;
	}

	.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	}

	.video-container iframe, .video-container object, .video-container embed {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}




}

@media screen and (max-width: 40em) {
	.interaction {
		display: flex;
		width: 50px;
		height: 50px;
	}
	.content--chime .content__inner,
	.content--kalimba .content__inner {
		margin: auto;
	}
	.kalimba__inner {
		margin-left: -10em;
    	min-width: 40em;
    }
    #wavebg canvas {
    	opacity: 0.65;
    }
}
